@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$preto: #111;
$cinza: #444;
$branco: #f8f9fa;
$azul: #043968;
$ciano: #02CAFD;
body{
  font-family: 'Montserrat', sans-serif;
  color: $preto;
}
p{
  color: $cinza;
}
h2{
  font-size: 2rem;
  padding-bottom: 1rem;
}
nav{
  .nav-item{
    a.nav-link{
      color: $preto !important;
      &:hover{
        color: $ciano !important;
      }
    }
    &.active{
      a.nav-link{
        color: $azul !important;
        // font-weight: bold;
      }
    }
  }
}
.bg-light{
  background-color: #fff !important;
}
.jumbotron{
  background-color: $preto;
  color: $branco;
  padding: 12% 10%;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
  img{
    max-width: 80%;
    @media (min-width: 800px) {
      max-width: 300px;
    }
  }
  .hero-subtitle{
    font-size: 2rem;
    color: $branco;
  }
  .arrow-container{
    text-align: center;
    color: #fff;
    margin-top: -20px;
    font-size: 2em;
    bottom: 0;
    left:0;
    position: absolute;
    width: 100%;
    transition: 500ms;
    padding-bottom: 25px;
    &:hover{
      color: $ciano;
    }
  }
}

section{
  padding: 100px 50px;
  text-align: center;
  h2{
    font-weight: bold;
  }
  &#projetos{
    .row{
      margin-top: 50px;
      .projeto{
        background-color: #fff;
        padding: 20px;
        margin:10px;
      }
    }
  }
  &#integrantes{
    color:$branco;
    background-color: $preto;
    .row{
      padding-top: 50px;
      .pessoa{
        padding: 20px;
        img{
          border-radius: 50%;
          max-width: 150px;
          border: 5px solid $branco;
          margin-bottom: 20px;
        }
        .links{
          a{
            color: $ciano !important;
            margin-right: 10px;
            margin-left: 10px;
            transition: 500ms;
            &:hover{
              color: $azul !important;
            }
          }
          
          a[type=button]{
            appearance: none;
          }
        }
      }
    } 
  }
  &#artigos{
    #lista-artigos{
      a{
        transition: 500ms;
        color: $azul !important;
        &:hover{
          color: $ciano !important;
        }
      }
      
    }
  }
}
footer{
  background-color: $preto;
  margin: 0;
  padding: 5% 10%;
  color: $branco;
  p{
    margin: 0;
  }
}
