@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
}

p {
  color: #444;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

nav {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

nav .nav-item a.nav-link {
  color: #111 !important;
  -webkit-transition: all .01s ease-in-out;
  transition: all .01s ease-in-out;
}

nav .nav-item a.nav-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #02CAFD !important;
}

nav .nav-item.active a.nav-link {
  color: #043968 !important;
}

.bg-light {
  background-color: #fff !important;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: -1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.jumbotron {
  background-color: transparent;
  color: #f8f9fa;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
  padding: 12% 10%;
  margin-top: 32px;
}

.jumbotron .arrow-container {
  text-align: center;
  font-size: 2em;
  position: absolute;
  bottom: 175px;
  left: 0;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-bottom: 25px;
}

.jumbotron .arrow-container i {
  color: #f8f9fa;
}

.jumbotron .arrow-container i:hover {
  color: #02CAFD;
}

.jumbotron img {
  max-width: 80%;
}

@media (min-width: 800px) {
  .jumbotron img {
    max-width: 300px;
  }
}

.jumbotron .hero-subtitle {
  font-size: 2rem;
  color: #f8f9fa;
}

section {
  padding: 100px 50px;
  text-align: center;
}

section h2 {
  font-weight: bold;
}

section#sobre {
  background: -webkit-gradient(linear, left top, right bottom, from(#02CAFD), to(#043968));
  background: linear-gradient(to bottom right, #02CAFD, #043968);
  background-size: cover;
}

section#sobre .container {
  padding: 40px;
  color: #f8f9fa;
}

section#sobre .container p {
  color: #f8f9fa;
}

@media (min-width: 800px) {
  section#sobre .container .text-right {
    border-right: 2px solid #f8f9fa;
  }
}

section#projetos {
  background-color: #fbfbfb;
  background-image: url("img/back.svg");
  background-size: cover;
}

section#projetos .row {
  margin-top: 50px;
}

section#projetos .row .projeto {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section#projetos .row .projeto:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.95);
}

section#projetos .row .projeto .btn i {
  margin-left: 10px;
}

section#integrantes {
  color: #f8f9fa;
  background-color: #111;
  background-image: url("img/chars.svg");
  background-size: cover;
}

section#integrantes h2 {
  background-color: #111;
}

section#integrantes .row {
  padding-top: 50px;
}

section#integrantes .row .pessoa {
  padding: 20px;
  margin: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #11111155;
  border-radius: 20px;
}

section#integrantes .row .pessoa:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #111111fe;
}

section#integrantes .row .pessoa:hover img {
  border: 5px solid #02CAFD;
}

section#integrantes .row .pessoa img {
  border-radius: 50%;
  border: 5px solid #f8f9fa;
  margin-bottom: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section#integrantes .row .pessoa .links a {
  color: #02CAFD !important;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

section#integrantes .row .pessoa .links a:hover {
  color: #02a2ca !important;
}

section#integrantes .row .pessoa .links a[type=button] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

section#artigos {
  background-color: #ffffff;
  background-image: url("img/sobre.svg");
  background-size: cover;
}

section#artigos h2 {
  background-color: #fff;
}

section#artigos #lista-artigos li {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}

section#artigos #lista-artigos li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 2;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  background: #fafafa;
}

section#artigos #lista-artigos li:hover a {
  padding-right: 10px;
}

section#artigos #lista-artigos a {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #043968 !important;
}

section#artigos #lista-artigos a:hover {
  color: #02CAFD !important;
}

.modal .modal-header .modal-title {
  background: #fff;
  padding: 10px 10px 2px 10px;
}

footer {
  background-color: #111;
  margin: 0;
  padding: 5% 10%;
  color: #f8f9fa;
  text-align: right;
}

footer p {
  margin: 0;
  color: #f8f9fa;
}

footer p .fa-code {
  color: #02CAFD;
}

footer p .fa-heart {
  color: #FC427B;
}
/*# sourceMappingURL=styles.css.map */