@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
}

p {
  color: #444;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

nav {
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

nav .nav-item a.nav-link {
  color: #111 !important;
}

nav .nav-item a.nav-link:hover {
  color: #02CAFD !important;
}

nav .nav-item.active a.nav-link {
  color: #043968 !important;
}

.bg-light {
  background-color: #fff !important;
}

.jumbotron {
  background-color: #111;
  color: #f8f9fa;
  padding: 12% 10%;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron img {
  max-width: 80%;
}

@media (min-width: 800px) {
  .jumbotron img {
    max-width: 300px;
  }
}

.jumbotron .hero-subtitle {
  font-size: 2rem;
  color: #f8f9fa;
}

.jumbotron .arrow-container {
  text-align: center;
  color: #fff;
  margin-top: -20px;
  font-size: 2em;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-bottom: 25px;
}

.jumbotron .arrow-container:hover {
  color: #02CAFD;
}

section {
  padding: 100px 50px;
  text-align: center;
}

section h2 {
  font-weight: bold;
}

section#projetos {
  background-color: #fbfbfb;
  background-image: url("img/back.svg");
  background-size: cover;
}

section#projetos .row {
  margin-top: 50px;
}

section#projetos .row .projeto {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

section#projetos .row .projeto .btn#btn-cassie {
  color: #077B5C;
}

section#projetos .row .projeto .btn#btn-b {
  color: #EF9208;
}

section#projetos .row .projeto .btn#btn-c {
  color: #9F24F3;
}

section#integrantes {
  color: #f8f9fa;
  background-color: #111;
  background-image: url("img/chars.svg");
  background-size: cover;
}

section#integrantes .row {
  padding-top: 50px;
}

section#integrantes .row .pessoa {
  padding: 20px;
}

section#integrantes .row .pessoa img {
  border-radius: 50%;
  max-width: 150px;
  border: 5px solid #f8f9fa;
  margin-bottom: 20px;
}

section#integrantes .row .pessoa .links a {
  color: #02CAFD !important;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

section#integrantes .row .pessoa .links a:hover {
  color: #043968 !important;
}

section#integrantes .row .pessoa .links a[type=button] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

section#artigos #lista-artigos a {
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #043968 !important;
}

section#artigos #lista-artigos a:hover {
  color: #02CAFD !important;
}

footer {
  background-color: #111;
  margin: 0;
  padding: 5% 10%;
  color: #f8f9fa;
  text-align: right;
}

footer p {
  margin: 0;
  color: #f8f9fa;
}

footer p .fa-code {
  color: #02CAFD;
}

footer p .fa-heart {
  color: #FC427B;
}
/*# sourceMappingURL=styles.css.map */