$preto: #111;
$cinza: #444;
$branco: #fff;
$azul: rgb(10, 32, 43);
$teal: #26a69a;

$border-radius: 20px;
$transp: 0.7;

.jumbotron {
    background-color: transparent;
    color: $branco;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;
    height:40vh;
    @media (min-width: 800px) {
      height:25vh;
    }
    // padding: 14% 10%;
    padding-top: 20vh;
    @media (min-width: 800px) {
      padding-top: 15vh;
    }
    img {
      max-width: 80%;
      @media (min-width: 800px) {
        max-width: 300px;
      }
    }
  
    .hero-subtitle {
      font-size: 2rem;
      color: $branco;
    }
}
.main{
  background-color:$branco;
}
h2{
  margin-top: -10px !important;
  @media (min-width: 800px) {
    margin-top: 30px !important;
  }
  
  font-size: 1.5rem !important;
}
.container {
  max-width: 800px;
}